
langgraph
groq
python-dotenv
fastapi
uvicorn[standard]
pydantic
httpx
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb
sentence-transformers
transformers
torch
PyMuPDF
pytest
streamlit